<!-- <div id="loaderContainer" class="loaderContainer">
  <div id="preloader" class="preloader"></div>
</div>
 -->

 <header class="header">
  <div class="izquierda">
    <h3>Tienda de Valeria</h3>
    <span>productos que ofrecemos</span>  
  </div>


  <div class="centro">
    <span id="productosSeleccionados" class="productosSeleccionados"> 0 producto(s) comprado(s)</span>

  </div>

  <div class="derecha">
    <span>Selecciona las categorias que buscas</span>

    <label class="hombreLabel" for="hombreCheckbox">
      <input type="checkbox" id="hombreCheckbox" class="hombreClass" checked/>
      <span class="hombreSpan">Hombre</span>
    </label>

    <label class="mujerLabel" for="mujerCheckbox">
      <input type="checkbox" id="mujerCheckbox" class="mujerClass" checked/>
      <span class="mujerSpan">Mujer</span>
    </label>

    <label class="joven" for="jovenCheckbox">
      <input type="checkbox" id="jovenCheckbox" class="joven" checked/>
      <span class="joven">Joven</span>
    </label>

    <span id="numeroProductos" class="numeroProductos"> 0 productos</span>
  </div>
</header>

<div>
  <app-productos></app-productos>
</div>